@font-face {
    font-family: "Noto Sans Mono";
    src: url("./fonts/NotoSansMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    --wails-resize: all;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}